@import "lib/geso"

.flipcard
  opacity 0
  background #EEE;
  &.animate
    opacity 1
    animation flipInX .5s

.h1
  animation pop 1s .2s

.outer
  height 200px
  border-radius 10px
  background #568945
